# Build artifacts
.eggs
*.egg-info
/build
/dist
__pycache__

# Build artifacts specific to pangocairocffi
pangocairocffi/_generated/ffi.py

# Test artifacts
tests/output/*

# Virtualenv
venv

# Tox
.tox

# PyCharm
.idea

# Code Coverage
/.coverage
/htmlcov

# Documentation
/docs/_build

# Mac OS
.DS_store
